@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Righteous');

.imagemCentralizada {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.divTopo {
	padding-bottom: 60px;	
}

.divCabecalho {
	padding-bottom: 5px;
}
.ui-widget,   
    .ui-widget .ui-widget {   
    font-size: 12px !important; 
    font-family: 'Righteous', cursive;  
}

.ui-panel-title{
	font-size: 30px
}
.ui-panel-titlebar{
	text-align: center;
	font-family: 'Righteous', cursive;
}
footer{
	font-family: 'Righteous', cursive;
}