@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Righteous');

p, h1, footer, body, form{
	 font-family: 'Righteous', cursive;  
}
.ui-dialog-title, .ui-outputlabel, .ui-button-text{
	 text-align: center;
	 font-family: 'Righteous', cursive;  
}